/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

  html {
    font-size: 16px;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #3b3b3b;
    text-align: left;
    background: #ffffff;
  }

  ul,
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: #f16059;
    text-decoration: none;
  }

  h2 {
    font-family: 'Kite One', sans-serif;
    font-size: 1.875em;
    font-weight: 500;
    margin: 0;
  }

  h3,
  h4 {
    font-family: 'Kite One', sans-serif;
    margin: 20px 0;
    font-size: 1.125em;
    font-weight: 500;
  }

  p {
    font-size: .875em;
    line-height: 1.285em;
  }

  img {
    width: 100%; /* Always do this one */
  }

  figure {
    margin: 0; /* Always do this one */
  }

  address {
    font-style: normal;
  }

  .content-wrapper {
    width: 90%;
    margin: 50px 0;
  }


/* Header Section */

header {
  display: flex; /* THis flex is just for the content-wrapper */
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 15px 0;
}

header .content-wrapper {
  display: flex;           /* This flex is for the figure the divider and the nav */
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}

header figure { /* Ask why we need the flex properties here? */
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.header-divider {
  width: 100%;
  height: 1px;
  background: #f16059;
  margin: 10px 0 20px 0;
}

header nav {
  display: flex;
  justify-content: space-around; /* THis is putting it in the center right now */
  align-items: center;
  flex-flow: row wrap; /*not sure why we have row wrap here? */
  width: 60%; /*this is making it so that the nav is the same width as the logo */
  font-size: 1.125em;
  font-weight: 700;
  text-transform: uppercase;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; /*without this li items by default sit right next to each other so this says we are going to have 100% width in the ul (so it will take the full nav width of 60%) */
}

header nav ul li {
  font-size: 1.123em;
  font-family: 'Galada', cursive;
}

/* =================== MAIN AREA ========================== */


.hero-area {
  display: flex;
  justify-content: center;
  flex-flow: row wrap; /*Not sure why we need this here since there is only one flex item ?*/
  background: url(../img/amber-hero-3.jpg);
  background-size: cover;
  background-position: center;
  min-height: 500px;
  background-repeat: no-repeat;
}

/* .content-wrapper {} dont need ths because it is already addressed in our main styles */

.hero-area h1 {
  font-size: 2.25em;
  color: #4b4342;
  text-shadow: -.5px .5px 2px #f16059;
  font-style: italic;
}

.hero-area h1 span {
color: #fb7171;
font-style: italic;
text-shadow: -1px 2px 5px #d4cccc;
font-family: 'Galada', cursive;
}

/* ------- ASIDE AREA this is my own code with no blueprint to follow ----- */

aside { /* We are doing this as display flex even though theres only one item so that it is center aligned vertically and horizontally and makes the .content-wrapper in the middle because it is default set to 90% */
  display: flex;
  justify-content: center;
  align-items: center;
}

aside .content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}

aside span {
  color: #f16059;
}

/* -------- SECTION FEATURES AREA --------------- */

.features {
  background: url(../img/features-background-6.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.features h2 {
  margin-bottom: 60px;
}

.features .features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.features article {
  width: 55%;
  margin: 30px 0;
}

.features i {
  font-size: 3.75em;
  margin-bottom: 40px;
  color: #f59d98;
}

.features p {
  text-align: center;
  margin: 0;
}

.features br {
  display: none;/* Need this br for tablet sizing to make it look better*/
}
/*------- REVIEWS SECTION -----*/

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews .content-wrapper {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.reviews img {
  max-width: 150px;
}

.reviews p {
  text-align: center;
  width: 65%;
}


/*------- FOOTER ----- */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: #3b3b3b;
  color: #ffffff; 
}

footer p {
  margin: 0;
}

footer .content-wrapper {
  width: 55%; /* If we add more social icons this well keep them so they arent all spread out */
  margin: 50px 0; /* THis is redundant and already applied I dont think we really need it */
}

footer .contact {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social-icons {
  display: flex;
  justify-content: space-around; /* center would work for now but when i add more icons this would look better */
  align-items: center;
}


footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

footer .social-icons p i {
  font-size: 1.3125em;
}

footer .copyright {
  margin: 20px 0;
}


/* ----=========== ABOUT PAGE ------======*/

.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: #f4f5f7;
}

.mission h2 span {
  color: #f16059;
}

.mission-content span {
  color: #f16059;
  font-family: 'Galada', cursive;
}

.map figure { /* Divide Height by width to get the padding bottom percentage */
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  overflow: hidden;
  position: relative;
}

.map iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.contact-section span {
  color: #f16059;
}

/*------========== FAQ PAGE =========--------*/

.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: #f4f5f7;
}

.faq .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 50px 0;
}

.faq h2 {
  margin-bottom: 40px;
  line-height: 1;
}

.faq-content h4 {
  line-height: 1.333;
  font-weight: 700;
}

.faq-content span {
  color: #f16059;
  font-family: 'Galada', cursive;
}

 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   /*---====== TABLET STYLES -----====*/

   @media only screen and (min-width: 768px) {
   /* General Styles */

   .content-wrapper {
    max-width: 640px; /* this seems good so that everything stays in line and doesnt get so spread out over the page */
    margin: 100px 0; /* makes the rows a bit bigger since we are now on bigger screens */
   }

   h2 {
    font-size: 2.25em;
    line-height: 1.333;
   }

   h3 {
    font-size: 1.5em;
    line-height: 1.25;
   }

   /* HEADER */

   header {
    justify-content: space-around; /* Not sure why we would do this it only affects the content wrapper? */
   }

    header .content-wrapper {
      justify-content: space-between; /* puts the logo on the left and the nav on the right */
      width: 100%; /* This instead of defualt 90% but dont see why this is relevant */
    }

    header figure { /* we only want the logo to take up about 1/3 of the screen */
      width: 30%;
    }

    header nav {
      width: 20%; /* only want the nav to take up about 20% of screen on the left */
    }

    header nav ul {
      justify-content: space-between;
    }

    header .header-divider {
      display: none;
    }

    /* HERO AREA */

    .hero-area .content-wrapper {
      margin-top: 75px;
    }

    .hero-area h1 {
      font-size: 3em;
      margin-top: 0;
    }



    /*Aside */

    aside .content-wrapper {
      justify-content: space-between;
    }

    aside #what-is-1 {
      flex-basis: 45%;
    }

    aside #what-is-2 {
      flex-basis: 55%;
    }

    aside h2 {
      line-height: 1.7;
    }

    aside p {
      font-size: .92em;
    }



    /* Features */

    .features article {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
      flex-basis: 50%;
    }

    .features .features-item-description {
      width: 50%;
    }

    .features h2 {
      text-align: center;
    }

    .features i {
      margin-bottom: 30px;
    }

    .features br {
      display: block;
    }


    /* Footer */

    footer .content-wrapper {
      width: 65%;
      margin: 100px 0;
    } 


    footer .footer-content {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-direction: row;
    }

    footer .contact {
      margin-bottom: 0;
    }

    footer h4 {
      font-size: 1.4em;
      margin-bottom: 40px;
    }

    footer .contact p {
      line-height: 1.285;
      padding-top: 10px;
    }

/*============================================================
  FAQ Page Tablet Styles
 ===========================================================*/
 
   .faq .content-wrapper {
      justify-content: space-between;
      align-items: flex-start;
   } 

   .faq .faq-content {
    flex-basis: 40%;
   }

   .faq h2 {
    width: 100%; /* Just to insure that the .faq-content items dont float up to it */
   }
   .faq h4 {
    font-size: 1.4em;
   }

   .faq p {
    font-size: .92em;
   }

   #q-1 { /* These switch up the question order to make it fit better*/
    order: 1;
   }

   #q-2 {
    order: 3;
   }

   #q-3 {
    order: 2;
   }

   #q-4 {
    order: 4;
   }




}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


